<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="Mapper.PostMapper">
    <insert id="insertPost">
        insert into Post VALUES(
            NULL,
            #{title},
            #{content},
            #{userID},
            #{time},
            #{type},
            #{link},
            #{likes},
            #{dislikes},
            #{status},
            #{anon}
        );

    </insert>

    <delete id="deletePost">
        delete from Post
        <where>
            <if test="postID != -1">and postID = #{postID}</if>
            <if test="title != null">and title = #{title}</if>
            <if test="content != null">and content = #{content}</if>
            <if test="userID != -1">and userID = #{userID}</if>
            <if test="time != null">and time = #{time}</if>
            <if test="type != -1">and type = #{type}</if>
            <if test="link != null">and link = #{link}</if>
            <if test="likes != -1">and likes = #{likes}</if>
            <if test="dislikes != -1">and dislikes = #{dislikes}</if>
            <if test="status != -1">and status = #{status}</if>
            <if test="anon != -1">and anon = #{anon}</if>
        </where>
    </delete>

    <update id="updatePost">
        update Post
        <set>
            <if test="title != null">title = #{title},</if>
            <if test="content != null">content = #{content},</if>
            <if test="userID != -1">userID = #{userID},</if>
            <if test="time != null">time = #{time},</if>
            <if test="type != -1">type = #{type},</if>
            <if test="link != null">link = #{link},</if>
            <if test="likes != -1">likes = #{likes},</if>
            <if test="dislikes != -1">dislikes = #{dislikes},</if>
            <if test="status != -1">status = #{status},</if>
            <if test="anon != -1">anon = #{anon},</if>
        </set>
        where postID=#{postID};
    </update>

    <select id="selectByCondition" resultType="Post">
        select * from Post
        <where>
            <if test="postID != -1">and postID = #{postID}</if>
            <if test="title != null">and title = #{title}</if>
            <if test="content != null">and content = #{content}</if>
            <if test="userID != -1">and userID = #{userID}</if>
            <if test="time != null">and time = #{time}</if>
            <if test="type != -1">and type = #{type}</if>
            <if test="link != null">and link = #{link}</if>
            <if test="likes != -1">and likes = #{likes}</if>
            <if test="dislikes != -1">and dislikes = #{dislikes}</if>
            <if test="status != -1">and status = #{status}</if>
            <if test="anon != -1">and anon = #{anon}</if>
        </where>
    </select>
</mapper>